<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>This page will display players where user can search, filter, update, and delete.</h3>
      <h4>The player is the many in the 1-to-m relationship with position, team, and nationality.</h4>
    </div>
    </div>
    <div class = "row">
      <div class="col-sm-12">
        <h6>Search for player by entering First AND Last name.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline" action="/filterPlayer" method="GET">
        <label class="sr-only" for="inlineFormInputName2">First name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name = "fnamesearch" placeholder="First name">
        <label class="sr-only" for="inlineFormInputName2">First name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name = "lnamesearch" placeholder="First name">
                   <button class="btn btn-primary" type="submit">Search</button>
              </form>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Saves</th>
        <th scope="col">Salary</th>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Nationality</th>
      </tr>
    </thead>
    <tbody>
      {{#each queryList}}
      <tr>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.goals}}</td>
        <td>{{this.assists}}</td>
        <td>{{this.saves}}</td>
        <td>{{this.salary}}</td>
        <td>{{this.position}}</td>
        <td>{{this.cteam}}</td>
        <td>{{this.nationality}}</td>
        <td><form method='POST' action='/player/{{this.id}}?_method=DELETE'><button class="btn btn-primary" type="submit">Delete</button></form></td>
        <td>  <form class="form-inline" action="/updatePlayer/{{this.id}}?" method="GET">
              <button type="submit" class="btn btn-primary mb-2">Update</button>
              </form></td>
      </tr>
      {{/each}}
    </tbody>
  </table>   
 </div>
  </div>
</div>
